<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login as an Instructor</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav class="navbar-container">
      <div class="menu-wrapper">
        <div class="menu">
          <i class="bi menu-icon bi-list"></i>
        </div>
        <div class="logo">
          <a href="/"><div class="logo-img"></div></a>
        </div>
      </div>

      <div class="main-navigation">
        <div class="nav-items">
          <ul class="site-navigation">
            <li class="selected">Home</li>
            <li>My courses</li>
            <li>Create a course</li>
          </ul>
        </div>

        <div class="nav-auth">
          <ul class="auth-navigation">
            <li class="login"><a href="./index.html">Login</a></li>
            <li class="signup">
              <a href="../signup/index.html">Signup</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <div class="wrapper">
        <div class="signup-container">
          <div class="image-wrapper">
            <img
              src="../../../assets/images/edit.png"
              alt="Girl studying"
              class="logo"
            />
          </div>
          <div class="form-wrapper">
            <h1>Login and manage your courses</h1>
            <form action="#" method="post" class="main-form">
              <input
                type="text"
                name="email"
                id="email"
                placeholder="Email or username"
                class="email-input form-input"
              />
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Password"
                class="password-input form-input"
              />
              <div class="action-buttons">
                <input class="submit-button" type="submit" value="Login" />
                <button class="signup-button">Signup</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <footer class="main-footer">
      <div class="footer-top">
        <div class="logo-large">
          <img
            class="footer-logo"
            src="../../../assets/images/logos/logo-row.png"
            alt=""
          />
        </div>

        <div class="site-links">
          <ul class="links">
            <li class="link-item">Home</li>
            <li class="link-item">Become a creator</li>
            <li class="link-item">About us</li>
            <li class="link-item">Contact</li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="about-footer">
        <h3>&copy; EwketHub 2024</h3>
        <ul class="social-links">
          <li class="social-link"><i class="bi bi-twitter"></i></li>
          <li class="social-link"><i class="bi bi-instagram"></i></li>
          <li class="social-link"><i class="bi bi-telegram"></i></li>
          <li class="social-link"><i class="bi bi-tiktok"></i></li>
        </ul>
      </div>
    </footer>
    <script src="../../../navigation.js"></script>
  </body>
</html>
