@import url(../navigation.css);
@import url(../footer.css);
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Figtree", sans-serif;
  min-width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: repeating-linear-gradient(
    45deg,
    #00b3ff 0,
    #00b3ff 10%,
    transparent 0,
    transparent 50%
  );
  background-size: 50em 50em;
  background-color: #ffffff;
  opacity: 1;
}

a {
  all: unset;
}

main {
  background-color: rgb(62, 62, 62);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

.wrapper {
  max-width: 80%;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.text-container {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.image-container img {
  width: 100%;
  min-width: 350px;
  max-width: 400px;
}

h1 {
  color: #00b3ff;
}

h2 {
  color: white;
}

.action-container {
  display: flex;
  justify-content: start;
  gap: 20px;
}

.button {
  padding: 10px 30px;
  border-radius: 10px;
}

.login {
  background-color: #00b3ff;
}

.login:hover {
  background-color: #00b3ffbf;
}

.signup {
  background-color: #e8f1fa;
  color: black;
}

.signup:hover {
  background-color: #dce4eddf;
}
